@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$barton : #2F6F51 ;
$barton-rgb : rgb(47, 111, 81) ;

$barton-bg-dark : #2F6F51;
$barton-dark-color : white;

//OVERWRITE GLOBAL VARIABLES FROM BOOTSTRAP. 
//NOTE: If you don't now name of any variables, you can see the name in the inpection on the browser. 
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

//CREATE OWR GLOBAL VARIABLES FOR COMPONENTS DE BOOTSTRAP

/* 
$custom-theme-colors: (
  'barton' : $barton,
  'barton-rgb' : $barton-rgb,
  "barton-text-emphasis" : $barton,
  "barton-bg-subtle" : rgb(102, 13, 13),
  "barton-border-subtle" : rgb(90, 68, 68),
  );

$theme-colors: map-merge($theme-colors, $custom-theme-colors); */

//IF YOU WANT ADD ADITIONAL PERSONAL SCSS DO IT IN GLOBAL.SCSS
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 1700px
);


/* import bootstrap to set changes */
@import './../../node_modules/bootstrap/scss/bootstrap';

