@import "custom.scss";


.buttom-space{
  margin-bottom: 5rem;
}

.top-space{
  margin-top: 5rem;
}


.navbar-text{
  color: white;
  font-size: 24px !important;
  font-weight: 700 !important;
}


.video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

